name: kubernetes-dashboard-1-7
version: {{ getenv "VERSION" }}
description: General-purpose web UI for Kubernetes clusters
keywords:
- kubernetes
- dashboard
home: https://github.com/stakater-charts/kubernetes-dashboard-1-7
sources:
- https://github.com/stakater-charts/kubernetes-dashboard-1-7
maintainers:
- name: Stakater
  email: hello@stakater.com